appnope==0.1.0
argon2-cffi @ file:///private/tmp/jupyterlab--argon2-cffi-20201109-55879-fd1k0d/argon2-cffi-20.1.0
async-generator==1.10
attrs @ file:///private/tmp/jupyterlab--attrs-20201109-55879-ioob7p/attrs-20.2.0
backcall @ file:///private/tmp/jupyterlab--backcall-20201109-55879-dexhah/backcall-0.2.0
bleach==3.2.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints @ file:///private/tmp/jupyterlab--entrypoints-20201109-55879-a6xx2g/entrypoints-0.3
idna==2.10
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==2.11.2
json5==0.9.5
jsonschema @ file:///private/tmp/jupyterlab--jsonschema-20201109-55879-1ojfg5c/jsonschema-3.2.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.3
mistune==0.8.4
nbclient @ file:///private/tmp/jupyterlab--nbclient-20201109-55879-lnbpit/nbclient-0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio @ file:///private/tmp/jupyterlab--nest-asyncio-20201109-55879-a8jmv8/nest_asyncio-1.4.1
networkx==2.5
notebook==6.1.5
numpy==1.19.4
packaging==20.4
pandas==1.1.5
pandocfilters==1.4.3
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
prometheus-client==0.8.0
prompt-toolkit @ file:///private/tmp/jupyterlab--prompt-toolkit-20201109-55879-ww0tih/prompt_toolkit-3.0.8
ptyprocess @ file:///private/tmp/jupyterlab--ptyprocess-20201109-55879-1ggt2d4/ptyprocess-0.6.0
pycparser==2.20
Pygments==2.7.2
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil @ file:///private/tmp/jupyterlab--python-dateutil-20201109-55879-2j4euu/python-dateutil-2.8.1
python-louvain==0.14
pytz==2020.4
pyzmq==19.0.2
requests==2.24.0
Send2Trash==1.5.0
six==1.15.0
terminado @ file:///private/tmp/jupyterlab--terminado-20201109-55879-sy6pq/terminado-0.9.1
testpath @ file:///private/tmp/jupyterlab--testpath-20201109-55879-9zgct7/testpath-0.4.4
tornado==6.0.4
traitlets @ file:///private/tmp/jupyterlab--traitlets-20201109-55879-472rll/traitlets-5.0.5
urllib3==1.25.11
wcwidth==0.2.5
webencodings==0.5.1